#cadastro {
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 8px;
    width: 100%;
   
}
#nomeUsuario {
    text-align: center;
}
#botao {
    text-align: center;
}
#cabecario-imagem {grid-area: primeiro;}
#cadastro {grid-area: segundo;}

#cabecario-imagem {
    background-image: url(../img/imagem-perfil.png);
    width: 75%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 100%;
}


a {
    color: #0044ff !important;
    text-decoration: none !important;
}

section {
    border: 1px solid black;
    border-radius: 10px;
    width: 620px;
}

.rounded-10 {
    border-radius: 10px;
}